absl-py==0.11.0
astor==0.8.1
backcall==0.2.0
cached-property==1.5.2
certifi==2020.12.5
decorator==4.4.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.34.0
h5py==3.1.0
importlib-metadata==3.3.0
ipdb==0.13.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
numpy==1.19.5
pandas==1.1.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.10
protobuf==3.14.0
ptyprocess==0.7.0
Pygments==2.7.3
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
traitlets==4.3.3
typing-extensions==3.7.4.3
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
